QT -= gui

CONFIG += dll

TARGET   = AccessCvs
TEMPLATE = lib

DEFINES += ACCESSCVS_LIBRARY

SOURCES += \

HEADERS += \

include(../../common.pri)
include(../../submodule.pri)
include(../$${TARGET}_dep.pri) # dependencies for self

#LIBS += -loleacc

#installQtDlls(       $$OUT_PWD/$${BUILD_TYPE} )
#installModuleDlls(   $$OUT_PWD/$${BUILD_TYPE} $$OUT_PWD )
#installExternalDlls( $$OUT_PWD/$${BUILD_TYPE} $$OUT_PWD )
